/* FORM STYLE */
.register-form {
  position: relative;
  margin: 50px auto;
  height: 100%;
  width: 500px;
  background-color: #f2f2f2;
  padding: 20px;
}
.register-form input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.g-recaptcha {
  width: 50%;
  padding: 14px 20px;

  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.g-recaptcha:hover {
  background-color: #45a049;
}
/* ----------------------- */
