/* FORM STYLE */
.contact-form {
  margin: auto;
  margin-top: 50px;
  height: 100%;
  width: 320px;
  background-color: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 1px 6px 4px -2px #e0e0e0;
}
.contact-form h2 {
  margin: 0;
}
.contact-form input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.contact-form button {
  cursor: pointer;
  color: #ee4d4d;
}
textarea {
  height: 200px;
}

/* ----------------------- */
