.content {
  /* display: block; */
  position: relative;
  width: 75%;
  margin: auto;
  /* margin-top: 100px; */
  padding-top: 100px;
  z-index: 1;
}
.timeline {
  width: 60%;
  float: left;
  position: relative;
  margin: 0 10px;
}

.timeline-detail {
  width: 40%;
  float: right;
}
